certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.2
communities==3.0.0
community==1.0.0b1
contourpy==1.0.6
cycler==0.11.0
Flask==2.2.2
fonttools==4.38.0
idna==3.4
igraph==0.10.2
importlib-metadata==5.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.4
llvmlite==0.37.0
louvain==0.8.0
MarkupSafe==2.1.1
matplotlib==3.6.1
networkx==2.6.3
numba==0.54.1
numpy==1.20.3
omega-index-py3==0.3.1
packaging==21.3
pandas==1.4.0
Pillow==9.3.0
plotly==5.6.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-louvain==0.16
pytz==2021.3
requests==2.28.1
scikit-learn==1.0.1
scipy==1.7.3
six==1.16.0
sklearn==0.0
tenacity==8.0.1
texttable==1.6.4
threadpoolctl==3.0.0
torch==1.10.0
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.12
Werkzeug==2.2.2
zipp==3.10.0
